<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Nurse</title>
    <script src="https://unpkg.com/flowbite@1.5.2/dist/datepicker.js"></script>
    <script src="https://cdn.tailwindcss.com">  </script>
    <style>
      nav{
        position: absolute;
        top:0px;
        right:32px;
        color: white;
        padding: 32px;
      }
      nav a:hover{
        text-decoration: underline;
      }
    </style>
</head>
<body>
    
    <div class="bg-slate-800 h-screen ring-1 ring-slate-700/5 shadow-md flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8"> 
     
      <div class="max-w-md w-full space-y-8">
          <div>
            <h1 class="mt-6 text-center text-3xl tracking-tight font-bold text-teal-600">Ooops! Error 404</h1>
            <p class="mt-2 text-center text-ellipsis font-semibold text-gray-600">The Page you are looking for cannot be found.</p>
          </div>
        </div>
      </div>
</body>
</html>